12月 06 14:24:05 mjr systemd[1075]: Starting Auto sync Git repository...
12月 06 14:24:05 mjr (git)[28575]: [0;1;31m[0;1;39m[0;1;31mgit_sync.service: Changing to the requested working directory failed: No such file or directory[0m
12月 06 14:24:05 mjr (git)[28575]: [0;1;31m[0;1;39m[0;1;31mgit_sync.service: Failed at step CHDIR spawning /usr/bin/git: No such file or directory[0m
12月 06 14:24:05 mjr systemd[1075]: [0;1;39m[0;1;31m[0;1;39mgit_sync.service: Main process exited, code=exited, status=200/CHDIR[0m
12月 06 14:24:05 mjr systemd[1075]: [0;1;38:5:185m[0;1;39m[0;1;38:5:185mgit_sync.service: Failed with result 'exit-code'.[0m
12月 06 14:24:05 mjr systemd[1075]: [0;1;31m[0;1;39m[0;1;31mFailed to start Auto sync Git repository.[0m
12月 06 14:26:34 mjr systemd[1075]: Starting Auto sync Git repository...
12月 06 14:26:34 mjr (git)[29147]: [0;1;31m[0;1;39m[0;1;31mgit_sync.service: Changing to the requested working directory failed: No such file or directory[0m
12月 06 14:26:34 mjr (git)[29147]: [0;1;31m[0;1;39m[0;1;31mgit_sync.service: Failed at step CHDIR spawning /usr/bin/git: No such file or directory[0m
12月 06 14:26:34 mjr systemd[1075]: [0;1;39m[0;1;31m[0;1;39mgit_sync.service: Main process exited, code=exited, status=200/CHDIR[0m
12月 06 14:26:34 mjr systemd[1075]: [0;1;38:5:185m[0;1;39m[0;1;38:5:185mgit_sync.service: Failed with result 'exit-code'.[0m
12月 06 14:26:34 mjr systemd[1075]: [0;1;31m[0;1;39m[0;1;31mFailed to start Auto sync Git repository.[0m
